
div {
    color:rgb(150, 150, 150);
}
.alert-text {
    color: red;
}
@font-face {
    font-family: font2;
    margin: 20px; 
    font-weight: 700;
    src: url(fonts/papyrus.ttf);
    }
h3 {
    font-family: font2;
    font-size: 50px;
}
@font-face {
    font-family: font1;
    margin: 20px; 
    font-weight: 700;
    src: url(fonts/Poppins-Medium.ttf);
    }
@font-face {
      font-family: font3;
      margin: 20px; 
      font-weight: 700;
      src: url(fonts/Poppins-Black.ttf);
      }
* {
    font-family: font1;
    text-align: center;
}
body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
  }
  
  .content-width {
    max-width: 70ch;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
  main {
    margin-bottom: 4rem;
  }
  
  header {
    margin-bottom: 2rem;
    padding: 2rem 0;
    background-color: hsl(280, 50%, 40%);
    border-bottom: 4px solid hsl(300, 50%, 50%);
    color: hsl(300, 50%, 90%);
  }
  
  header p {
    color: hsl(300, 50%, 85%);
  }
  
  h1, h2, h3 {
    margin: 0;
    line-height: 1.25;
    text-align: center;
  }
  .home{
    color: rgb(0, 0, 0);
    margin-bottom: 60px;
    padding-top: -20px;
    font-family: font3;
  }
  h2, h3 {
    color: hsl(280, 50%, 40%)
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
h3 {
    text-align: center;
    margin-top: 250px;

}
.parent{
  text-align:center;
}
.box {
 text-align: center;
 color:black;
 font-size: 150px;
 background-color: blue;
 background-image: url('images/nerdy_cat.jpg');
 background-clip:text;
 color:transparent;
 background-size:contain;
 font-family: font3;
 display: inline-block;
 padding: 1rem 1rem;
 vertical-align: middle;

}
.button {
  color: lightgray;
  text-align: center;
  font-size: 150px;
  display: block;
  margin-left: auto;
  font-family: font3;
  margin-right: auto;
background-image: url('images/tigar.jpg');
background-size: cover;
display: inline-block;
padding: rem 1rem;
vertical-align: middle;
}
.footer {
  position: static;
  padding: 2rem 0;
  left: 0;
  margin-top: 4rem;
  border-top: 4px solid hsl(300, 50%, 50%);
  bottom: 0;
  width: 100%;
  background-color: hsl(280, 50%, 40%);
  color: hsl(300, 50%, 85%);;
  font-size: 10px;
  text-align: center;
}